

<div class="container">
    <div class="row">
        <chart type="StockChart" [options]="options" style="height:40em"></chart>
    </div>

    <div class="row">
        <div class="col-md-12 stocks-container">

            <div class="col-md-4 col-sm-6 stock-block" *ngFor="let key of keys()">
                <h3>{{key}} <button type="button" class="close" (click)="deleteFromChart(key);">&times;</button></h3>
                <span class="name">{{ stockList.get(key) }}</span>
            </div>

            <div class="col-md-4 col-sm-6 stock-block stock-new">
                <label>Syncs in realtime across clients</label>
                <form novalidate>
                    <div class="input-group">
                        <input #stockSym type="text" class="form-control" placeholder="Enter stock code" >
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button" (click)="addToChart(stockSym.value); stockSym.value=''">Add</button>
                        </span>
                    </div>
                </form>

                <div class="error">{{chartMessage}}</div>
            </div>

        </div>
    </div>
</div>